<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT wall ANY>
<!ATTLIST wall id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT profile ANY>
<!ATTLIST profile id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT register ANY>
<!ATTLIST register id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="919fe462-cde5-453b-b13d-4b5c787b8754" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-06-18T18:05:24" updateDate="2018-06-18T18:05:24" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1054" nodeTypeAlias="home" isPublished="true">
    <login id="1062" key="bdad49f1-0332-4dd3-ada6-e8ff1ebe6b16" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2018-06-19T13:31:49" updateDate="2018-06-19T13:31:49" nodeName="Login" urlName="login" path="-1,1055,1062" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="login" isPublished="true" />
    <register id="1067" key="37d08b40-38ef-4868-93c4-dc2834c0839f" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2018-06-19T14:15:50" updateDate="2018-06-19T14:15:50" nodeName="Register" urlName="register" path="-1,1055,1067" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="register" isPublished="true" />
    <wall id="1118" key="7cd94eed-8cce-4a0f-bef6-cecbb3188c3c" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2018-06-19T16:57:27" updateDate="2018-06-19T16:57:27" nodeName="wall" urlName="wall" path="-1,1055,1118" isDoc="" nodeType="1106" creatorName="admin" writerName="admin" writerID="0" template="1058" nodeTypeAlias="wall" isPublished="true" />
  </home>
</root>