@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbracoInstagram.Abstract.IModels.IPost>
@using (Html.BeginUmbracoForm("CreatePost", "post", System.Web.Mvc.FormMethod.Post, new { id = "createpost", enctype = "multipart/form-data" }))
{

    <input id="PostImage" title="Upload a product image"
           type="file" name="file" />
    @Html.TextAreaFor(m => m.PostText);

    <button name="createpost" type="submit">AddPost</button>
}
