@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}

@* the fun starts here *@

<ul class="nav navbar-nav navbar-right">
    <li><a href="/Register/">Register</a></li>
    <li><a href="/Login/">Login</a></li>
</ul>