
@model List<UmbracoInstagram.Models.PostViewModel>
<ul class="nav navbar-nav navbar-right">
    <li><a href="/Wall/CreatePost/">CreatePost</a></li>
</ul>


@foreach (var post in Model)
{
    <img src=@post.PostImage>
    <p>@post.PostText</p>
    <p>Date Created: @post.PostDate</p>
    <p>MemberId: @post.MemberID</p>
}
@using (Html.BeginUmbracoForm("SubmitLogout", "Member", System.Web.Mvc.FormMethod.Get))
{
    <button name="login" type="submit">Logout</button>
}




